* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
	
    text-align: center;
}
h2 {
	text-align: center;
}
p {
	
    padding: 15px 30px;
	text-align: center;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#logo {
    width: 100%;
}

#gifu {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 25%;
}	

#me {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 25%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50%;
}

.topnav {
    overflow: hidden;
    background-color: #ff9999;
}

/* Style the topnav links */
.topnav a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ffcccc;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
}

/* Style the footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ff9999;
  color: black;
  text-align: center;